/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Define custom font families */
@font-face {
  font-family: 'RocaOne';
  src: url('./assets/fonts/RocaOne.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'RocaTwo';
  src: url('./assets/fonts/RocaTwo.ttf') format('truetype');
  font-weight: 400;
}

/* Apply fonts to headings and text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RocaOne', sans; /* Apply RocaOne font to all headings */
  font-size: 2rem;
}

/* Apply RocaTwo font to all other text elements */
body,
p,
a,
span,
div {
  font-family: 'RocaTwo', sans;
  font-size: 1rem;
}

/* Rounded buttons */
.btn {
  @apply rounded-full;
}

.drawer-side {
  z-index: 1000;
}
