@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans;
  font-size: 2rem;
}

body, p, a, span, div {
  font-family: 'Inter', sans;
  font-size: 1rem;
}

.drawer-side {
  z-index: 1000;
}
